@import url('https://fonts.googleapis.com/css2?family=RocknRoll+One&display=swap');
body {
    background-color: #e7e6e1;
}

.header {
    color: #0798A8;
    height: 100px;
    background-color: #e7e6e1;
}

h1 {
    text-align: center;
    margin: 50px auto;
    font-family: 'RocknRoll One', sans-serif;
    font-weight: 400;
    letter-spacing: 1rem;
    font-size: 3rem;
}

.container {
    margin: 0 auto;
    width: 30%;
    border: 4px solid black;
    padding: 20px;
}

i {
    width: 24px;
    height: 24px;
}